extends _layout.pug

block locals 
  - var title = 'access'

block MainContent 
  h1 Access Page!
  include _menu
  .news.mt-50.mb-50 
    .news__inner
      .news__content 
        .news__meta 
          time.news__date(datetime="2022-8-21") 2022/8/21
          span.news__category お知らせ
        a(href="").news__text テキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
      .news__content 
        .news__meta 
          time.news__date(datetime="2022-8-21") 2022/8/21
          span.news__category お知らせ
        a(href="").news__text テキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
      .news__content 
        .news__meta 
          time.news__date(datetime="2022-8-21") 2022/8/21
          span.news__category お知らせ
        a(href="").news__text テキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
  .blog 
    .blog__inner
      .blog__items
        a.card(href="")
          figure.card__img
            img(src="../images/thumbnail.jpg", alt="")
          .card__body 
            h2.card__title タイトル
            .card__content テキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
            .card__footer 
              time.card__date(datetime="2022-8-20") 2022.8.20
              .card__category カテゴリー
        a.card(href="")
          figure.card__img
            img(src="../images/thumbnail.jpg", alt="")
          .card__body 
            h2.card__title タイトル
            .card__content テキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
            .card__footer 
              time.card__date(datetime="2022.8.20") 2022.8.20
              .card__category カテゴリー
        a.card(href="")
          figure.card__img
            img(src="../images/thumbnail.jpg", alt="")
          .card__body 
            h2.card__title タイトル
            .card__content テキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
            .card__footer 
              time.card__date(datetime="2022.8.20") 2022.8.20
              .card__category カテゴリー
        a.card(href="")
          figure.card__img
            img(src="../images/thumbnail.jpg", alt="")
          .card__body 
            h2.card__title タイトル
            .card__content テキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
            .card__footer 
              time.card__date(datetime="2022.8.20") 2022.8.20
              .card__category カテゴリー
        a.card(href="")
          figure.card__img
            img(src="../images/thumbnail.jpg", alt="")
          .card__body 
            h2.card__title タイトル
            .card__content テキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
            .card__footer 
              time.card__date(datetime="2022.8.20") 2022.8.20
              .card__category カテゴリー
        a.card(href="")
          figure.card__img
            img(src="../images/thumbnail.jpg", alt="")
          .card__body 
            h2.card__title タイトル
            .card__content テキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
            .card__footer 
              time.card__date(datetime="2022.8.20") 2022.8.20
              .card__category カテゴリー
