extends _layout.pug

block locals 
  - var title = 'hello, pug' 

block content 
  h1 Hello, Pug 
  div#react-root 
  div#vue-root
  img(src="../images/icon.png")
  img(src="../images/thumbnail.jpg")
