@use "../base" as *;

.menu {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  &__item {
    margin: 1rem;
  }
  a {
    font-family: $base-font-family;
    font-size: 3rem;
    font-weight: $bold;
    color: #333;
    padding: 0.5rem;
  }
}
