@use "base" as *;
@use "./module/top";
@use "./module/menu";
@use "./module/access";
@use "./module/news";
@use "./module/api";
@use "./module/footer";

html {
  font-size: 62.5%;
}

@media screen and (min-width: 769px) and (max-width: 1000px) {
    html {
      font-size: 0.625vw;
    }
}

body {
  font-size: 1.6rem;
}

a {
  &:hover {
    opacity: 0.6;
  }
}

.container {
  max-width: 118rem;
  width: 100%;
  margin: auto;
  padding: 0.5em;
  @include mq("md") {
      width: 50rem;
    }
}

.mt-30 {
  margin-top: 3rem;
}
.mb-50 {
  margin-bottom: 5rem;
}
.mt-50 {
  margin-top: 5rem;
}

.button {
  display: inline-block;
  padding: 15px 70px;
  background-color: #393939;
  border: 1px solid #393939;
  border-radius: 50px;
  font-size: 2rem;
  font-weight: $bold;
  letter-spacing: 0.08em;
  color: #fff;
  cursor: pointer;
  &:hover {
    background-color: #f0f0f0;
    border: 1px solid #393939;
    color: #393939;
    transition: all 0.3s ease;
  }
}

.section-header {
  color: cadetblue;
  &__title {
    font-size: 3.6rem;
    letter-spacing: 0.05em;
  }
  &__subtitle {
    display: inline-block;
    font-size: 2rem;
    margin-top: 0.5rem;
    letter-spacing: 0.05em;
  }
}

////////////////////
// 非表示設定
////////////////////

//768px以上を表示
.u-desktop {
  display: none;
  @include mq("lg") {
    display: block;
  }
}

//モバイルのみ表示
.u-mobile {
  @include mq("sm") {
    display: block;
  }
}
