@use "base" as *;
@use "./module/top";
@use "./module/menu";
@use "./module/footer";

html {
  font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

////////////////////
// 非表示設定
////////////////////

//768px以上を表示
.u-desktop {
  display: none;
  @include mq("lg") {
    display: block;
  }
}

//モバイルのみ表示
.u-mobile {
  @include mq("sm") {
    display: block;
  }
}

.main-image {
  background-image: url("../images/thumbnail.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
  width: 100%;
  height: 600px;
  border-radius: 2em;
  margin: 1em 0;
}

.icon {
  width: 12.8rem;
  height: 12.8rem;
  padding: 4px;
  position: absolute;
  top: 1em;
  left: 1em;
}
